<!DOCTYPE html>
<html lang="en" ng-app="indexApp">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="index.css">
        <script src="bower_components/angular/angular.js"></script>
        <script src="index.js"></script>
    </head>
    <body ng-controller="IndexCtrl">
        <div class="col-sm-6">
            <div ng-repeat="cheatSheet in cheatSheetOne" class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{cheatSheet.name}}</h3>
                    </div>
                    <div class="panel-body">
                        <h4>{{cheatSheet.desc}}</h4>
                        <div ng-repeat="sample in cheatSheet.samples">
                            <code>{{sample.code}}</code>
                            <h5>{{sample.desc}}</h5>
                            <div ng-repeat="hint in sample.hints" class="alert alert-info">
                                <strong>{{hint.name}}: </strong>{{hint.desc}}
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div ng-repeat="hint in cheatSheet.hints" class="alert alert-info">
                            <strong>{{hint.name}}: </strong>{{hint.desc}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>